@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Título principal -->
    <h1 class="display-2 font-weight-bold text-primary mt-4">MpDeportes</h1>
    <p class="lead text-secondary">¡Bienvenido a la mejor tienda de deportes!</p>

    <!-- Imagen de una tienda de zapatillas o de zapatillas -->
    <div class="my-5">
        <img src="https://puntoclick.com.ar/storage/google-places/65f7f36593a7a.jpg" alt="Tienda de Zapatillas" class="img-fluid rounded shadow" style="width: auto; height: auto;" />
    </div>
    <p class="lead mt-4">
        Descubre nuestra amplia selección de zapatillas para todas las edades y gustos.
    </p>
    <p class="lead mt-6">
        Te esperamos!!
    </p>
</div>

